@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #19122e;
}

#nombre-principal{
    font-weight: 600;
}

/*  HEADER  */
.navbar-color {
    padding: 0 5%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);

}
.navbar-collapse {
    padding: 10px;
    border: none;
}
.header .navbar li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-decoration: none;
    margin: 10px 10px;
}
.header .navbar li:hover {
    border-bottom: 2px solid #333131;
}
.header .navbar a {
    font-weight: 500;
    text-decoration: none;
}

.main{
    background-color: #ffffff;
}
/* SECCION DEL INICIO PARA HERO CON IMAGEN DE FONDO */
.hero{ 
    height: 700px;
    background-image: url('wave.svg'), linear-gradient(135deg, #00e3ae 0%, #9be15d 100%);
    /* background-image: url("../img/hero_imagen.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container{
    height: 100%;
}

.hero-textos{
    width: 55%;
    height: 100%;
    color: black;
    padding: 160px 80px;
    text-align: left;
}

.hero-titulo{
    font-size: 45px;
}

.hero-texto{
    width: 75%;
    margin: 20px 0;
}

.hero-boton{
    background-color: #fff;
    padding: 10px 15px;
    color: black;
    border-radius: 35px;
    cursor: pointer;
}

/* FIN DE LA SECCION DEL HERO INICIO*/

/* INICIO HÁBITOS RECOMENDABLES */

.primer-habito img, .segundo-habito img, .tercer-habito img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

/* SECCIÓN DE FRASES MOTIVACIONALES */
.contenedor-frases{
    height: auto;
    margin: 100px 0;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: #00e3ae;
}

.beneficios-textos{
    width: 55%;
    height: 100%;
    color: black;
    padding: 160px 80px;
    background-color: black;
}

.beneficios-titulo{
    width: 75%;
    margin: 20px 0;
    text-align: end;
    background-color: red;
}