/* SECCION DEL INICIO PARA HERO CON IMAGEN DE FONDO */
.hero{ 
    height: 700px;
    background-image: url('wave.svg'), linear-gradient(135deg, #00e3ae 0%, #9be15d 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container{
    height: 100%;
}

.hero-textos{
    width: 55%;
    height: 100%;
    color: rgb(29, 27, 56);
    padding: 160px 80px;
    text-align: left;
}

.hero-titulo{
    font-size: 45px;
}

.hero-texto{
    width: 75%;
    margin: 20px 0;
}

.hero-boton{
    background-color: #fff;
    padding: 10px 15px;
    color: rgb(29, 27, 56);
    border-radius: 35px;
    cursor: pointer;
}
/* FIN DE LA SECCION DEL HERO INICIO*/

/* INICIO HÁBITOS RECOMENDABLES */
.primer-habito img, .segundo-habito img, .tercer-habito img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

/* SECCIÓN DE FRASES MOTIVACIONALES */
.frase-motivacional{
    height: auto;
    margin: 100px 0;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: #00e3ae;
}

.beneficios-textos{
    width: 55%;
    height: 100%;
    color: rgb(29, 27, 56);
    padding: 160px 80px;
}

.beneficios-titulo{
    width: 75%;
    margin: 20px 0;
    text-align: center;
}

/* footer */
.footer {
    position: relative;
    background-color: #00e3ae;
    background-image: url('../css/wave_footer.svg'); 
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.footer h3, .footer h5 {
    color: rgb(29, 27, 56);
}

.footer p {
    color: rgb(29, 27, 56);
}


.social-link {
    color: rgb(29, 27, 56);
    font-size: 40px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.social-link:hover {
    color: #004d40;
    transform: scale(1.2);
}


.input-suscripcion {
    max-width: 230px;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
}

.btn-light {
    border-radius: 30px;
    background-color: #fff;
    color: rgb(29, 27, 56);
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: #00a783;
    color: #fff;
}

.footer-hr {
    border-color: rgba(255, 255, 255, 0.3);
    width: 70%;
    margin: 10px auto;
}

@media (max-width: 768px) {
    .footer {
        background-size: 200% auto;
        text-align: center;
    }
}


