/* SECCION DEL INICIO PARA HERO CON IMAGEN DE FONDO */
.hero{ 
    height: 700px;
    background-image: url('wave.svg'), linear-gradient(135deg, #00e3ae 0%, #9be15d 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container{
    height: 100%;
}

.hero-textos{
    width: 55%;
    height: 100%;
    color: rgb(29, 27, 56);
    padding: 160px 80px;
    text-align: left;
}

.hero-titulo{
    font-size: 45px;
    font-weight: 700;
}

.hero-texto{
    width: 75%;
    margin: 20px 0;
    font-weight: 600;
}

.hero-boton{
    background-color: #fff;
    padding: 10px 15px;
    color: rgb(29, 27, 56);
    border-radius: 35px;
    cursor: pointer;
}
/* FIN DE LA SECCION DEL HERO INICIO*/

/* INICIO HÁBITOS RECOMENDABLES */
.primer-habito img, .segundo-habito img, .tercer-habito img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

/* SECCIÓN DE FRASES MOTIVACIONALES */
.beneficios-titulo h2{
    color: #1C1C2A;
}
.frase-motivacional{
    height: auto;
    margin: 100px 0;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: #00C67F;
}
.frase-motivacional h3{
    color: #fff;
}

.acceso-rapido-index h2{
    color: #1C1C2A;
}

.beneficios-textos{
    width: 55%;
    height: 100%;
    color: rgb(29, 27, 56);
    padding: 160px 80px;
}

.beneficios-titulo{
    width: 75%;
    margin: 20px 0;
    text-align: left;
}


.btn-primary{
    background-color: #1E88E5;
}

.btn-primary:hover{
    background-color: #1565C0;
    border-color: #1E88E5;
}


