.hero{ 
    height: 700px;
    background-image: url('wave.svg'), linear-gradient(135deg, #00e3ae 0%, #9be15d 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.hero-container{
    height: 100%;
}

.hero-textos{
    width: 55%;
    height: 100%;
    color: rgb(29, 27, 56);
    padding: 160px 80px;
    text-align: left;
}

.hero-titulo{
    font-size: 45px;
    font-weight: 700;
}

.hero-texto{
    width: 75%;
    margin: 20px 0;
    font-weight: 600;
}
/* FIN DE LA SECCION DEL HERO INICIO*/

.texto-seguimiento{
    margin: 12px 0 80px 0;
}

.separador-texto{
    background-color: #00C67F;
    margin: 50px 0;
}

.separador-texto p{
    color: #E8F5E9;
}

.separador-texto h3{
    color: #E8F5E9;
}

.boton-estadisticas{
    background-color: #1E88E5;
    border-color: #E0E0E0;
    color: #fff;
}

.boton-estadisticas:hover{
    background-color: #1565C0;
    border-color: #E0E0E0;

}

@media (max-width: 768px) {
    .hero-container{
        width: 100%;
    }
    .hero-textos{
        width: 100%;
        height: 80%;
    }
}